.pagination {
  display: flex;
  align-items: center;

  height: 33px;
  margin-top: 30px;

  /*background-color: red;*/
}
.show {
  margin-right: 5px;
  margin-left: 15px;
}
.hint {
  margin-left: 5px;
}
