.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 36px;
    margin-bottom: 34px;
}
.description {
    margin: 0;
    padding: 0;

    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 600;
    line-height: 27px;
}
.button {
    width: 175px;
    height:36px;

    border-radius: 30px;
}
.navigation {
    display: flex;
    align-items: center;

    margin-bottom: 24px;
}
.input {
    width: 413px;


}
.search {
    margin-bottom: 8px;


}
.search span {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    color: #000000;
}