.superInput {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;

  border: none;
  border-bottom: 2px solid #808080;
  outline: none;
}
label {
  position: relative;
  top: -20px;
  left: 58px;

  font-size: 13px;
  font-weight: 400;
  line-height: 20px;

  opacity: 0.5;
}

.errorInput {
  background: red;
  border: 2px solid red;
}

.error {
  color: red;
}

.errorInput {
  border: 1px solid #cc1439;
}

.error {
  position: relative;
  top: -25px;
  left: -370px;

  font-size: 10px;
  color: #cc1439;
}
