* {
    margin: 0;
    padding: 0;
}
.description{

    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 24px;
    width: 358px;
    margin-bottom: 29px;
}
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button {
    width: 113px;
    height:36px;


    box-shadow: 0px 2px 10px rgba(109, 109, 109, 0.25), inset 0px 1px 0px rgba(255, 255, 255, 0.3);
}