* {
  font-family: Montserrat, sans-serif;
}

.packName {
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-height: 50px;
  margin-top: 15px;
}
.packNameTitle {
  font-size: 22px;
  font-weight: 600;
  line-height: 27px;
}
.search {
  margin-top: 30px;
}
.searchSpan {
  display: inline-block;

  margin-bottom: 12px;

  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
}
.input {
  position: relative;

  width: 100%;
}
.inputDelete {
  position: absolute;
  top: 0;
  left: 95%;
}
.btnTitle {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  text-transform: lowercase;
}
.btnTitle:first-letter {
  text-transform: uppercase;
}
